{% extends 'base.html' %}

{% block css %}

body {
    background-image: url("/static/images/bg1.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#home_page {
    margin-top: 200px;
}


{% endblock %}



{% block content %}
<section id="home_page" class="text-light text-center">
    <h1 class="p-2">Welcome To Text Analyzer</h1>
    <a href="{{ url_for('find_length') }}">
        <button type="button" class="btn btn-success "> Analyzer </button>
    </a>
    <a href="{{ url_for('word_replace') }}">
        <button type="button" class="btn btn-success "> Replace Word </button>
    </a>
</section>

{% endblock %}